extends layout

block content
  .content(layout vertical)
    header.title
      .logo
      h1.name Vincent Lee
      h2 Prototypes and Design

    h3 Current Projects
    section.projects
      ul
        li Things
        li Things
        li Things
        li Things
    
    h3 Places I've Worked
    section.work

    h3 Skills
    section.skills
      .skill Thing
      .skill Thing
      .skill Thing
      .skill Thing