doctype html
html
  head
    title Vincent Lee
    link(rel="icon" href="./images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="components/jquery/dist/jquery.js")
  body(layout center-justified)
    block content
    script(src="javascripts/fade.js")
