@require('layout')

main = white
light = #FFF
bkgr = #00DE85

spacing = 0.4em

body
  background-color bkgr
  font-family "Helvetica Neue",Helvetica,sans-serif
  color main
  margin 0
  padding 0
  font-size 14px

.content
  width 250px
  padding-bottom 50vh
  padding-top 50vh
  margin-top -25px 

.logo
  background url('../images/vvvvvvv.svg') no-repeat center center
  height 50px

h1
  font-size 1.4em 
h2
  font-size 1em